@import url('https://fonts.cdnfonts.com/css/barbie');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
header h1{
    font-family: barbie;
}

header{
    background-color: #f57bda;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

ul a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f57bda;
    color: #fff;
}